body {
  background: darkslategray;
  margin: 0;
  padding: 0;
}

.header {
  color: black;
  text-align: center;
  padding: 12px 20px;
  width: 100%;
  background-color: white;
}

.header {
    margin-bottom: 24px;
}

.scoreboard {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    border: solid black 4px;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: space-evenly;
}

.scoreboard #score {
    border: solid black 1px;
    padding: 0;
}


